<div>
  <label>Countries</label>&nbsp;
  <select (change)="onCountrySelect($event)">
    <option value="0">--Select Country--</option>
    <option *ngFor="let country of countries$ | async" value={{country.name}}>
      {{country.name}}
    </option>
  </select>
</div>

<div *ngIf="selectedCountry.length > 0">
  <H2>Country Details</H2>
  <table>
    <tr>
      <th>Name</th>
      <th>Capital</th>
      <th>Population</th>
      <th>Currencies</th>
      <th>Flag</th>
    </tr>
    <tr *ngFor="let country of selectedCountry">
      <td>{{country.name}}</td>
      <td>{{country.capital}}</td>
      <td>{{country.population}}</td>
      <td *ngFor="let currency of country.currencies"><span>{{currency.name}}<span></span></span></td>
      <td><img src = "{{country.flag}}" length="100" width="75" alt="My Happy SVG"/></td>
    </tr>
  </table>

</div>




